**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/

**/.gradle/
**/build/

**/*.class

**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/out/

**/.classpath
**/.project
**/.settings/
**/bin/
**/tmp/
**/.metadata/

**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

**/.vscode/

**/*.jar
**/*.war
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar

**/*.log
**/logs/

**/.DS_Store
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini

**/*.tmp
**/*.bak
**/*.swp
**/*~

**/hs_err_pid*
**/replay_pid*
